# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: df4305273ce1e913d28d223eee5eeac7962e5fab3f94ab3971c5ee6e72c249f7a9635c70333d5d3d30e27969b1e8b8e6309df67318de1a2b7215bb878ddd8fc2

test:
  secret_key_base: 7ca59f10315b5441456ac9863653bf5f4b07486714aa5c42d9a2e4ba3abb810a2f93af449b2089ecdd93f4dc1de1d2e98457f4a3c3b9eac6c371d18b43f02261

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
